<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Img/logo.svg" type="image/x-icon">
    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
     <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../Components/sidebar.comp.ejs') %>
        <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
             <!-- Main Content -->
             <div id="content">
                <!-- Topbar -->
                <%- include('../Components/navbar.comp.ejs') %>
                <!-- End of Topbar -->
                 <!-- Begin Page Content -->
                 <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Production</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Recap</a>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <%- include('../Components/alert.comp.ejs') %>
                    </div>
                    <!-- DataTales Example -->
                    <form class="card shadow mb-4" action="/Productions" method="post">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Formulaire de Production</h6>
                            <div style="margin-top: 10px; width: 70%; margin-left: 20px;" class="row mb-3" >
                                <input name="date" required type="date" class="col-md-4 form-control">
                                <select name="unite" required style="margin-left: 10px;" class="col form-control">
                                    <option value="">selectionner une unité</option>
                                    <% data.forEach(unite => { %>
                                        <option value="<%- unite.id %>"><%= unite.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                                <div class="row mb-4" id="formrow">
                                    <select required class="col-md-4 form-control" name="produit" id="product-dropdown">
                                        <option value="">Selectionner un produit</option>
                                        <% products.forEach(product => { %>
                                        <option value="<%= product.code %>"><%= product.name %></option>
                                        <% }) %>
                                    </select>
                                    <div class="col-md-2">
                                      <input required name="objectif" type="number" class="form-control" placeholder="Objectif" aria-label="Objectif">
                                    </div>
                                    <div class="col-md-2">
                                        <input required name="resultat" type="number" class="form-control" placeholder="Resultat" aria-label="Resultat">
                                    </div>
                                    <select required name="event" class="form-control col-md-2" aria-label="event">
                                        <option value="panne">évènement</option>
                                        <option value="panne">panne</option>
                                        <option value="moo">moo</option>
                                        <option value="rupture">rupture</option>
                                        <option value="autre">autre</option>
                                        <option value="ras">R.A.S</option>
                                    </select>
                                    <button style="margin-left: 20px;" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">supprimer</span>
                                    </button>
                                </div>
                                <div class="float-right">
                                    <button type="button" id="AddRow" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Ajouter</span>
                                    </button>
                                    <button type="submit" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Enrégistrer</span>
                                    </button>
                                </div>
                        </div>
                    </form>
                 </div>
                 <!-- /.container-fluid -->
             </div>
         </div>
     </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script type="module">
        let formRow = document.getElementById('formrow');
        let btnRow = document.getElementById('btnrow');

        function AddRow(){
            const row = document.getElementById('div');
            row.classList.add('row');

            const productCol = document.createElement('select');
            productCol.classList.add('col-md-4 form-control');
            const option = document.createElement('option');
        }
    </script>
</body>
</html>